<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sistema_seguridad</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="ConfigurationFiles/ConfigurationHibernate/AlumnosFechaHora.hbm.xml"/>
    <mapping resource="ConfigurationFiles/ConfigurationHibernate/AlumnosFecha.hbm.xml"/>
    <mapping resource="ConfigurationFiles/ConfigurationHibernate/PersonalFecha.hbm.xml"/>
    <mapping resource="ConfigurationFiles/ConfigurationHibernate/Personal.hbm.xml"/>
    <mapping resource="ConfigurationFiles/ConfigurationHibernate/Externos.hbm.xml"/>
    <mapping resource="ConfigurationFiles/ConfigurationHibernate/PersonalFechaHora.hbm.xml"/>
    <mapping resource="ConfigurationFiles/ConfigurationHibernate/ExternosFechaHora.hbm.xml"/>
    <mapping resource="ConfigurationFiles/ConfigurationHibernate/ExternosFecha.hbm.xml"/>
    <mapping resource="ConfigurationFiles/ConfigurationHibernate/Alumnos.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
